.card {
  width: 150px;
  height: 180px;
  border: 1px solid var(--gray-color);
  padding: 10px 5px;
  .card-image {
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  @media screen and (max-width: 767px) {
    height: 200px;
  }
  @media screen and (max-width: 490px) {
    height: 150px;
  }
}
