.game {
  max-width: 600px;
  margin: 0 auto;

  .top-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .navigation {
      display: flex;
      flex-grow: 1;
      justify-content: center;
      .button {
        margin-right: 10px;
      }
    }
  }
}
