.list-item {
  height: 48px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  font-size: 1.8rem;
  border-bottom: 1px solid var(--light-alt-color);
  background-color: var(--light-color);
  text-transform: capitalize;
  &:hover {
    background-color: var(--light-alt-color);
  }
}
