:root{
  --primary-color: #673ab7;
  --primary-alt-color: #4527a0;
  --primary-light-color: #ede7f6;
  --light-color: #f1f1f1;
  --gray-color: #6c757d;
  --dark-color: #2f3336;
  --error-color: #c62828;
  --primary-font: Roboto,Helvetica Neue,sans-serif;
  --regular: 400;
  --medium: 500;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: var(--primary-font);
  color: var(--dark-color);
  font-size: 1.6rem;
}
h1 {
  font-size: 2.8rem;
  font-weight: var(--regular);
  margin-bottom: 30px;
}
h3 {
  font-size: 1.6rem;
  font-weight: var(--medium);
  margin-bottom: 15px;
}

.button {
  padding: 6px 16px;
  border-radius: 4px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 1.6rem;
  cursor: pointer;
  outline: none;
  line-height: 1.5;
  font-weight: var(--medium);
  font-family: var(--primary-font);
  border: 1px solid transparent;
  letter-spacing: 1px;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
  &:hover {
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px -1px, rgb(0 0 0 / 14%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 0px 1px 10px 0px;
  }
  &.large {
    font-size: 2rem;
  }
  &.primary {
    color: white;
    background-color: var(--primary-color);
    border-color: var(--primary-alt-color);
    &:hover {
      background-color: var(--primary-alt-color);
    }
  }
  &.secondary {
    color: var(--primary-color);
    background-color: white;
    border-color: var(--primary-light-color);
    &:hover {
      background-color: var(--primary-light-color);
    }
  }
}

.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

svg {
  fill: var(--primary-color);
  height: 15px;
  width: 15px;
  vertical-align: middle;
}
